* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,
body {
  height: 100%;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-bottom: 16px;
}

#app {
  width: 100vw;
  min-height: 87vh;
  background-color: lightblue;
}

@font-face {
  font-family: MarkOT;
  src: url(./fonts/MarkOT.ttf);
}

@font-face {
  font-family: MarkOTLight;
  src: url(./fonts/MarkOTLight.otf);
}
