* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html,
body {
  height: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-bottom: 16px;
}

#app {
  width: 100vw;
  min-height: 100vh;
}

@font-face {
  font-family: MarkOT;
  src: url(./fonts/MarkOT.ttf);
}
@font-face {
  font-family: MarkOTLight;
  src: url(./fonts/MarkOTLight.otf);
}
.navHolder nav {
  max-width: 100vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 auto;
  margin-top: 40px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-right: 40px;
  padding-left: 40px;
}
.navHolder nav #home img {
  height: 40px;
}
.navHolder nav .links {
  width: 250px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.navHolder nav .links #numberOfItems {
  font-family: MarkOT;
  position: absolute;
  font-size: 15px;
  right: 50px;
  top: 45px;
  z-index: 98;
  display: inline;
  pointer-events: none;
}
.navHolder nav .links #logoutButton {
  color: #000;
  font-size: 30px;
}
.navHolder nav .links button {
  border: none;
  background-color: #fff;
  font-family: MarkOT;
  padding-bottom: 10px;
}
.navHolder nav .search {
  width: 600px;
  height: 40px;
  background-color: lightgrey;
  border-radius: 25px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-right: 20px;
}
.navHolder nav .search img {
  height: 25px;
  padding-right: 20px;
}
.navHolder nav .search input {
  width: 500px;
  border: none;
  background-color: lightgrey;
  font-family: MarkOT;
}
.navHolder .mobile-nav {
  display: none;
}
.navHolder .pageLinks {
  font-family: MarkOT;
  margin: 0 auto;
  margin-top: 30px;
  text-align: center;
}
.navHolder .pageLinks a {
  margin-right: 30px;
  text-decoration: none;
  color: #000;
}

@media screen and (max-width: 1100px) {
  .navHolder .mobile-nav {
    display: block;
    z-index: 100;
  }
  .navHolder .mobile-nav:hover {
    cursor: pointer;
  }
  .navHolder nav {
    margin-bottom: 100px;
    position: relative;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .navHolder nav #home {
    margin-left: 40px;
  }
  .navHolder nav .links {
    -webkit-box-pack: right;
        -ms-flex-pack: right;
            justify-content: right;
    width: 100px;
  }
  .navHolder nav .links #freeShipping {
    display: none;
  }
  .navHolder nav .links #numberOfItems {
    top: 6px;
  }
  .navHolder nav .search {
    position: absolute;
    border-radius: 0px;
    width: 100vw;
    margin: 0 auto;
    left: 0;
    padding-left: 40px;
    right: auto;
    top: 50px;
  }
  .navHolder .pageLinks {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: left;
    background-color: salmon;
    width: 200px;
    height: 500px;
    top: 55px;
    border-radius: 20px;
    left: -200px;
    padding-left: 15px;
    padding-top: 10px;
    padding-bottom: 10px;
    position: absolute;
    -webkit-transition: 0.5s;
    transition: 0.5s;
  }
  .navHolder .pageLinks a {
    padding-bottom: 40px;
  }
}
footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  margin: 0 auto;
  height: 50px;
  max-width: 1200px;
  position: relative;
  bottom: 0;
  left: auto;
  border-top: 2px solid #c3c3c3;
  font-family: MarkOT;
  font-size: 10px;
  color: #c3c3c3;
}

.pageContent {
  padding-top: 20px;
}
.pageContent #cartHeader {
  font-family: MarkOT;
  font-size: 30px;
  text-align: center;
}
.pageContent .buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  bottom: 0;
  padding-bottom: 100px;
  left: auto;
  margin: 0 auto;
  margin-top: -200px;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  max-width: 1200px;
}
.pageContent .buttons .clearCart {
  margin-top: 10px;
  margin-left: 10px;
  height: 45px;
  width: 230px;
  border: 2px solid #f1be48;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: MarkOT;
  font-size: 10px;
  padding-top: 15px;
}
.pageContent .buttons .clearCart:hover {
  cursor: pointer;
  border: 2px solid purple;
}
.pageContent .buttons .purchase {
  margin-top: 10px;
  margin-left: 10px;
  height: 45px;
  width: 230px;
  border: 2px solid #f1be48;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: MarkOT;
  font-size: 10px;
  padding-top: 15px;
}
.pageContent .buttons .purchase:hover {
  cursor: pointer;
  border: 2px solid purple;
}
.pageContent .hero {
  margin: 0 auto;
  max-width: 1200px;
  background-image: url(./../../images/hero.webp);
  background-position: center;
  background-size: cover;
  height: 210px;
  color: #fff;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.pageContent .hero p {
  font-family: MarkOT;
  margin-bottom: -5px;
}
.pageContent .hero h1 {
  font-family: MarkOTLight;
  font-size: 60px;
}
.pageContent .coffeeMakers {
  max-width: 1200px;
  padding-top: 100px;
  min-height: 1000px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: stretch;
      -ms-flex-pack: stretch;
          justify-content: stretch;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.pageContent .coffeeMakers .coffeeMaker {
  margin-bottom: 25px;
  margin-right: 20px;
  width: 280px;
  height: 600px;
  -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
          box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.pageContent .coffeeMakers .coffeeMaker .imgHolder {
  padding-top: 30px;
  height: 300px;
  text-align: center;
}
.pageContent .coffeeMakers .coffeeMaker .imgHolder img {
  height: 210px;
}
.pageContent .coffeeMakers .coffeeMaker .colorPicker {
  height: 35px;
  position: relative;
}
.pageContent .coffeeMakers .coffeeMaker .colorPicker .largeCircle {
  position: absolute;
  height: 35px;
  width: 35px;
  background-color: #000;
  border-radius: 50%;
  left: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.pageContent .coffeeMakers .coffeeMaker .colorPicker .largeCircle .whiteCircle {
  height: 30px;
  width: 30px;
  background-color: #fff;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.pageContent .coffeeMakers .coffeeMaker .colorPicker .largeCircle .whiteCircle .smallCircle {
  height: 22px;
  width: 22px;
  background-color: #000;
  border-radius: 50%;
}
.pageContent .coffeeMakers .coffeeMaker .coffeeInfo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-top: 15px;
  padding-left: 15px;
}
.pageContent .coffeeMakers .coffeeMaker .coffeeInfo h1 {
  font-family: MarkOT;
  font-size: 16px;
  color: #333333;
}
.pageContent .coffeeMakers .coffeeMaker .coffeeInfo p {
  font-family: MarkOTLight;
  font-size: 20px;
  color: #333333;
}
.pageContent .coffeeMakers .coffeeMaker .coffeeInfo .ratings {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.pageContent .coffeeMakers .coffeeMaker .coffeeInfo .ratings .stars {
  padding-right: 10px;
}
.pageContent .coffeeMakers .coffeeMaker .coffeeInfo .ratings p {
  font-size: 15px;
}
.pageContent .coffeeMakers .coffeeMaker .coffeeInfo .freeShipping {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.pageContent .coffeeMakers .coffeeMaker .coffeeInfo .freeShipping img {
  margin-top: -17px;
  padding-right: 10px;
}
.pageContent .coffeeMakers .coffeeMaker .coffeeInfo .freeShipping p {
  font-size: 15px;
}
.pageContent .coffeeMakers .coffeeMaker .coffeeInfo .buyNow {
  margin-top: 10px;
  margin-left: 10px;
  height: 45px;
  width: 230px;
  border: 2px solid #f1be48;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: MarkOT;
  font-size: 10px;
  padding-top: 15px;
}
.pageContent .coffeeMakers .coffeeMaker .coffeeInfo .buyNow:hover {
  cursor: pointer;
  border: 2px solid purple;
}
.pageContent .coffeeMakers .coffeeMaker .coffeeInfo .removeFromCart {
  margin-top: 10px;
  margin-left: 10px;
  height: 45px;
  width: 230px;
  border: 2px solid #f1be48;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: MarkOT;
  font-size: 10px;
  padding-top: 15px;
}
.pageContent .coffeeMakers .coffeeMaker .coffeeInfo .removeFromCart:hover {
  cursor: pointer;
  border: 2px solid purple;
}

@media screen and (max-width: 1100px) {
  .pageContent .coffeeMakers {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}
.loginContent {
  padding-top: 150px;
  margin: 0 auto;
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  font-family: MarkOT;
}
.loginContent h1 {
  margin-bottom: 50px;
}
.loginContent input {
  border: none;
  background-color: transparent;
  border-bottom: 2px solid #000;
  margin-bottom: 50px;
  font-size: 20px;
}
.loginContent .loginHolder {
  width: 300px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.loginContent .loginHolder .submitLogin {
  padding-top: 15px;
  font-size: 20px;
  border: 2px solid #000;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}
.loginContent .loginHolder .submitLogin:hover {
  cursor: pointer;
  border: 2px solid orange;
  color: lightgray;
}
.loginContent .signupHolder {
  width: 300px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.loginContent .signupHolder .submitSignup {
  padding-top: 15px;
  font-size: 20px;
  border: 2px solid #000;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}
.loginContent .signupHolder .submitSignup:hover {
  cursor: pointer;
  border: 2px solid orange;
  color: lightgrey;
}

@media screen and (max-width: 1100px) {
  .loginContent {
    margin-top: -200px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}