* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html,
body {
  height: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-bottom: 16px;
}

#app {
  width: 100vw;
  min-height: 87vh;
}

@font-face {
  font-family: MarkOT;
  src: url(./fonts/MarkOT.ttf);
}
@font-face {
  font-family: MarkOTLight;
  src: url(./fonts/MarkOTLight.otf);
}
nav {
  max-width: 100vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 auto;
  margin-top: 40px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-right: 40px;
  padding-left: 40px;
}
nav #home img {
  height: 40px;
}
nav .links {
  width: 250px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
nav .links #logoutButton {
  color: #000;
  font-size: 30px;
}
nav .links button {
  border: none;
  background-color: #fff;
  font-family: MarkOT;
  padding-bottom: 10px;
}
nav .search {
  width: 600px;
  height: 40px;
  background-color: lightgrey;
  border-radius: 25px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-left: 20px;
}
nav .search img {
  height: 25px;
  padding-right: 20px;
}
nav .search input {
  width: 500px;
  border: none;
  background-color: lightgrey;
  font-family: MarkOT;
}

.mobile-nav {
  display: none;
}

.pageLinks {
  font-family: MarkOT;
  margin: 0 auto;
  margin-top: 30px;
  text-align: center;
}
.pageLinks a {
  margin-right: 30px;
  text-decoration: none;
  color: #000;
}

.pageContent {
  padding-top: 20px;
}
.pageContent .hero {
  margin: 0 auto;
  max-width: 1200px;
  background-image: url(./../../images/hero.webp);
  background-position: center;
  background-size: cover;
  height: 210px;
  color: #fff;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.pageContent .hero p {
  font-family: MarkOT;
  margin-bottom: -5px;
}
.pageContent .hero h1 {
  font-family: MarkOTLight;
  font-size: 60px;
}
.pageContent .coffeeMakers {
  max-width: 1200px;
  padding-top: 100px;
  height: 1000px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: stretch;
      -ms-flex-pack: stretch;
          justify-content: stretch;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.pageContent .coffeeMakers .coffeeMaker {
  margin-bottom: 25px;
  margin-right: 20px;
  width: 280px;
  height: 600px;
  -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
          box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.pageContent .coffeeMakers .coffeeMaker .imgHolder {
  padding-top: 30px;
  height: 300px;
  text-align: center;
}
.pageContent .coffeeMakers .coffeeMaker .imgHolder img {
  height: 210px;
}
.pageContent .coffeeMakers .coffeeMaker .colorPicker {
  height: 35px;
  position: relative;
}
.pageContent .coffeeMakers .coffeeMaker .colorPicker .largeCircle {
  position: absolute;
  height: 35px;
  width: 35px;
  background-color: #000;
  border-radius: 50%;
  left: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.pageContent .coffeeMakers .coffeeMaker .colorPicker .largeCircle .whiteCircle {
  height: 30px;
  width: 30px;
  background-color: #fff;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.pageContent .coffeeMakers .coffeeMaker .colorPicker .largeCircle .whiteCircle .smallCircle {
  height: 22px;
  width: 22px;
  background-color: #000;
  border-radius: 50%;
}
.pageContent .coffeeMakers .coffeeMaker .coffeeInfo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-top: 15px;
  padding-left: 15px;
}
.pageContent .coffeeMakers .coffeeMaker .coffeeInfo h1 {
  font-family: MarkOT;
  font-size: 16px;
  color: #333333;
}
.pageContent .coffeeMakers .coffeeMaker .coffeeInfo p {
  font-family: MarkOTLight;
  font-size: 20px;
  color: #333333;
}
.pageContent .coffeeMakers .coffeeMaker .coffeeInfo .ratings {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.pageContent .coffeeMakers .coffeeMaker .coffeeInfo .ratings .stars {
  padding-right: 10px;
}
.pageContent .coffeeMakers .coffeeMaker .coffeeInfo .ratings p {
  font-size: 15px;
}
.pageContent .coffeeMakers .coffeeMaker .coffeeInfo .freeShipping {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.pageContent .coffeeMakers .coffeeMaker .coffeeInfo .freeShipping img {
  margin-top: -17px;
  padding-right: 10px;
}
.pageContent .coffeeMakers .coffeeMaker .coffeeInfo .freeShipping p {
  font-size: 15px;
}
.pageContent .coffeeMakers .coffeeMaker .coffeeInfo .buyNow {
  margin-top: 10px;
  margin-left: 10px;
  height: 45px;
  width: 230px;
  border: 2px solid #f1be48;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: MarkOT;
  font-size: 10px;
  padding-top: 15px;
}
.pageContent .coffeeMakers .coffeeMaker .coffeeInfo .buyNow:hover {
  cursor: pointer;
  border: 2px solid purple;
}
.pageContent .coffeeMakers .coffeeMaker .coffeeInfo .removeFromCart {
  margin-top: 10px;
  margin-left: 10px;
  height: 45px;
  width: 230px;
  border: 2px solid #f1be48;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: MarkOT;
  font-size: 10px;
  padding-top: 15px;
}
.pageContent .coffeeMakers .coffeeMaker .coffeeInfo .removeFromCart:hover {
  cursor: pointer;
  border: 2px solid purple;
}

.loginContent {
  padding-top: 150px;
  margin: 0 auto;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  font-family: MarkOT;
}
.loginContent h1 {
  margin-bottom: 50px;
}
.loginContent input {
  border: none;
  background-color: transparent;
  border-bottom: 2px solid #000;
  margin-bottom: 50px;
  font-size: 20px;
}
.loginContent .loginHolder {
  width: 300px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.loginContent .loginHolder .submitLogin {
  padding-top: 15px;
  font-size: 20px;
  border: 2px solid #000;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}
.loginContent .loginHolder .submitLogin:hover {
  cursor: pointer;
  border: 2px solid orange;
  color: lightgray;
}
.loginContent .signupHolder {
  width: 300px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.loginContent .signupHolder .submitSignup {
  padding-top: 15px;
  font-size: 20px;
  border: 2px solid #000;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}
.loginContent .signupHolder .submitSignup:hover {
  cursor: pointer;
  border: 2px solid orange;
  color: lightgrey;
}